################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TeamProject2/.vs
/TeamProject2/TeamProject2/bin/Debug/net6.0-windows
/TeamProject2/TeamProject2/obj
